     @import url('https://fonts.googleapis.com/css2? family = Baloo + Da + 2: wght @ 400; 500; 600 & family = Mulish: ital, wght @ 0,200; 0,300; 0,400; 1,200; 1,300 & family = Roboto: ital, wght @ 0,400; 1,500 & display = trocar ');
     @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
     * {
         margin: 0;
         padding: 0;
         list-style: none;
         text-decoration: none;
     }
     
      :root {
         --font-primary: --font-secundary: --font-action:
     }
     
     .hamburguer {
         /*background-color: red;*/
         width: 2rem;
         height: 2rem;
         position: fixed;
         z-index: 100;
         right: 2rem;
         top: 2rem;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         cursor: pointer;
     }
     
     .show-menu .hamburguer {
         right: 16rem;
     }
     
     .line {
         width: 100%;
         height: .1rem;
         background-color: #fff;
         box-shadow: 0.1rem 0.1rem 1px black;
         transition: transform 1s;
     }
     
     .show-menu #line1 {
         transform: rotate(45deg) translate(.3rem, .45rem);
     }
     
     .show-menu #line2 {
         opacity: 0;
         visibility: hidden;
     }
     
     .show-menu #line3 {
         transform: rotate(-45deg) translate(.3rem, -.45rem);
     }
     
     header {
         width: 100%;
         height: 100vh;
         overflow: hidden;
         position: relative;
     }
     
     .img-wrapper {
         width: 100%;
         height: 100%;
         overflow: hidden;
         background-color: rgba( 0, 0, 0, 0, 8);
     }
     
     .img-wrapper img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         opacity: 0, 5;
         animation: zoom 25s;
     }
     
     @keyframes zoom {
         0% {
             transform: scale(1.3);
         }
         100% {
             transform: scale(1);
         }
     }
     
     .banner {
         position: absolute;
         top: 30%;
         left: 5%;
     }
     
     .banner h1 {
         color: rgb(255, 255, 255);
         font-size: 3rem;
         font-family: "Baloo Da 2", serif;
         font-weight: 200;
         text-shadow: .2rem .3rem 4px rgb(1, 3, 27);
         line-height: 3.5rem;
         margin-bottom: 2rem;
         opacity: 0;
         animation: moveBanner 1s 0.5s forwards;
     }
     
     .banner p {
         font-family: "Josefin Slab", serif;
         color: #fff;
         font-size: 2rem;
         text-shadow: .2rem .2rem 2px rgb(0, 0, 0);
         margin-bottom: 2rem;
         opacity: 0;
         animation: moveBanner 1s 0.7s forwards;
     }
     
     .banner button {
         font-family: "Muli", serif;
         color: rgb(255, 255, 255);
         font-size: 1.3rem;
         text-transform: uppercase;
         letter-spacing: .1rem;
         background: #2C3E50;
         background: -webkit-linear-gradient(to left, #4CA1AF, #2C3E50);
         background: linear-gradient(to left, #4CA1AF, #2C3E50);
         padding-top: 1rem;
         padding-bottom: 1rem;
         padding-right: 3rem;
         padding-left: 3rem;
         border: none;
         border-radius: 8px;
         cursor: pointer;
         opacity: 0;
         animation: moveBanner 1s 0.9s forwards;
     }
     
     .banner button:hover {
         opacity: 0, 5;
         color: black;
         transition: 1s;
     }
     
     @keyframes moveBanner {
         0% {
             transform: translateY(10rem) rotateY( -30deg);
         }
         100% {
             transform: translateY(0rem) rotateY(0);
             opacity: 1;
         }
     }
     
     .sidebar {
         width: 20rem;
         height: 100vh;
         background-color: rgb(53, 111, 119);
         position: fixed;
         top: 0;
         right: -20rem;
         transition: 1s;
     }
     
     .show-menu .sidebar {
         right: 0;
     }
     
     .menu {
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
     }
     
     .menu-item {
         text-align: center;
         margin-bottom: .5rem;
     }
     
     .menu-link {
         font-family: "Muli";
         font-size: 2rem;
         color: rgb(255, 255, 255);
         transition: color 1s;
     }
     
     .menu-link:hover {
         color: rgb(0, 0, 0);
     }
     
     .social-media {
         position: absolute;
         bottom: 2rem;
         width: 100%;
         display: flex;
         justify-content: space-evenly;
     }
     
     .social-media i {
         color: rgb(255, 255, 255);
         height: 2.5rem;
         width: 2.5rem;
         font-size: 2rem;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         transition: color 1s;
     }
     
     .social-media i:hover {
         color: rgb(0, 0, 0);
     }
     
     .conhecimentos {
         display: grid;
         grid-template-columns: repeat(16, 1fr);
         grid-template-rows: repeat(6, 6rem);
         row-gap: .5rem;
     }
     
     .conhecimento:nth-child(1) {
         grid-column: 4 / 7;
         grid-row: 1 / 3;
     }
     
     .conhecimento:nth-child(2) {
         grid-column: 3 / 6;
         grid-row: 3 / 5;
     }
     
     .conhecimento:nth-child(3) {
         grid-column: 4 / 7;
         grid-row: 5 / -1;
     }
     
     .conhecimento:nth-child(4) {
         grid-column: 11 / 14;
         grid-row: 1 / 3;
     }
     
     .conhecimento:nth-child(5) {
         grid-column: 12 / 15;
         grid-row: 3 / 5;
     }
     
     .conhecimento:nth-child(6) {
         grid-column: 11 / 14;
         grid-row: 5 / -1;
     }
     
     .sessao-conhecimento {
         background-color: rgb(184, 184, 184);
     }
     
     .sessao-header {
         display: flex;
         align-items: center;
         justify-content: center;
     }
     
     .sessao-header h1 {
         font-family: serif;
         font-size: 3rem;
         color: rgb(59, 59, 59);
         border-bottom: solid 3px rgb(53, 111, 119);
         margin-bottom: 1.5rem;
     }
     
     .conhecimento-header {
         align-items: center;
         color: rgb(73, 73, 73);
     }
     
     .conhecimento-header i {
         font-size: 2.5rem;
     }
     
     .conhecimento-header h3 {
         font-family: serif;
         font-size: 2rem;
         padding-left: 1rem;
     }
     
     .conhecimentos-text {
         font-family: serif;
         margin-top: 1rem;
     }
     
     .conhecimentos-img-wrapper {
         grid-column: 7 / 11;
         grid-row: 2 / 6;
         width: 100%;
     }
     
     .conhecimentos-img-wrapper img {
         object-fit: cover;
         width: 100%;
     }